<div>
  <h3>{{ description + ":"}} </h3>

  <div class="skill">

    <div class="row">
      <p><b>Programming Languages:</b></p>
      <p>C/C++, Python, JavaScript, Java, C#, OCaml</p>
    </div>

    <div class="row">
      <p><b>Frameworks:</b></p>
      <p>React, Angular, Django, Flask, Qt</p>
    </div>

    <div class="row">
      <p><b>Databases:</b></p>
      <p>MySQL, MongoDB</p>
    </div>

    <div class="row">
      <p><b>Operating Systems:</b></p>
      <p>Windows, Linux (Ubuntu, Kali), MacOS</p>
    </div>

    <div class="row">
      <p><b>IDEs:</b></p>
      <p>VSCode, PyCharm, CLion, Google Colab, Intellij IDEA</p>
    </div>

    <div class="row">
      <p><b>Deep Learning:</b></p>
      <p>PyTorch</p>
    </div>

    <div class="row">
      <p><b>Testing:</b></p>
      <p>JUnit, Selenium, Log4j, Cypress, Jest</p>
    </div>

    <div class="row">
      <p><b>Hardware Related:</b></p>
      <p>Verilog, Arduino, FPGA</p>
    </div>

    <div class="row">
      <p><b>Other Tools:</b></p>
      <p>Git, Wireshark, MATLAB, Unity</p>
    </div>

  </div>
</div>
