<div class="intro">

  <p>
    <b>A little bit about me and my website ~ ~ ~ </b> <br><br>
    - Currently, I'm working as a <b>Software Engineer</b> for <b>CVS Health</b>. <br><br>
    - Before that, I'm a graduated student from <b>Johns Hopkins University</b>, with a major in <b>Computer Science</b>. <br><br>
    - You can view <b>my resume</b> right here.
    Besides, some of my projects, notes, journeys and other interesting stuff will be posted often. <br><br>
    - <b>Warm Welcome</b> if you want to connect with me for any interesting topic around career, study and daily life. <br><br>
    - Feel free to send me <b>emails</b> to the above address, or invite me with the <b>links</b> displayed below.
  </p>

</div>
