<div class="intro">

  <p>
    <b>A little bit about me and my website ~ ~ ~ </b> <br><br>
    - Currently, I'm working as a Software Engineer for CVS Health. <br><br>
    - Before that, I'm a graduated student from Johns Hopkins University, with a major in Computer Science. <br><br>
    - You can view my resume right here.
    Besides, some of my projects, notes, journeys and other interesting stuff will be posted occasionally. <br><br>
    - Warm welcome if you want to connect with me for any interesting topic around work, study and life. <br><br>
    - Feel free to send email with the above address, or invite me with the links displayed below.
  </p>

</div>
