.intro {
  width: 400px;
  background-color: lightblue;
  padding: 10px 20px;
  margin: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
